



/* Стилі для сітки продуктів */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 20px; /* відступ між елементами */
    padding: 20px; /* Відступи навколо всієї сітки */
    width: 75%; /* Щоб сітка займала всю ширину контейнера */
    box-sizing: border-box;
}

.product {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: auto;
    height: auto;
    cursor: pointer;
}

.product h2 {
    font-size: 0.75em;
    margin: 10px 0;
}

.product a, .product button {
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product button {
    background-color: #007bff; /* Колір кнопок для користувача */
}

.product a:hover, .product button:hover {
    background-color: #0056b3; /* Колір при наведенні */
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


